/Aufgabe_3/config - Kopie.properties
/Aufgabe_3/src/merlin/base/Main2.java
/.metadata/
/Aufgabe_3/src/merlin/base/DbWrapper.rar
/Aufgabe_3/src/merlin/base/base.rar
/Aufgabe_3/src/merlin/gui/DatabaseSetup.java.txt
