/Aufgabe_3/config - Kopie.properties
/Aufgabe_3/src/merlin/base/Main2.java
/.metadata/
/Aufgabe_3/src/merlin/base/DbWrapper.rar
/Aufgabe_3/src/merlin/base/base.rar
/Aufgabe_3/src/merlin/gui/DatabaseSetup.java.txt
/Abgabepaket/DB Aufgabe 3 MERLIN Doku u Anleitung.docx
/Abgabepaket/DB Aufgabe 3 MERLIN Doku u Anleitung.pdf
/Abgabepaket/DB_Gruppe3_Aufgabe3.zip
/Abgabepaket/MERLIN Project v0.2.zip
/Abgabepaket/MERLIN v0.2.jar
/Abgabepaket/scheme_setup.sql
